
body {
  background-color: #fff;
}
body * {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-weight: 500;
}

/* Container */
h6 {
  font-size: 40px;
}
h5 {
  color: #212529;
}

#precio1 {
  font-size: 16px;
  text-align: right;

}
#precio2 {
  font-size: 30px;
  text-align: right;
}
/* Formulario */

.div p {
  color:#fff;
}
.div form-group {
  font-size: 21px;
}

/* Footer*/

footer {
  margin-top: 3rem;
  background-color: #fff;
}

h3 {
  font-size: 16px;
  color:#707070;
}
