
/*Barra de Navegación*/

nav {
  background-color: #121619;
}
.nav_logo {
  width: 30%;
  text-align: left;
}

.nav__bar {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #FFF;
}

/*background*/

.bg-hairstyle {
  background-image: url(../img/post-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 737px;
}

.text-hair {
  font-family: 'Playfair Display', serif;
  color: #FFF;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900i;
  font-size: 70px;
}
/*Text section*/

.second__section {
  font-family: 'Roboto', sans-serif;
  color: #6C6E70;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 60px;
  padding-bottom: 60px;
}

.italic-text {
  font-family:  'Playfair Display', serif;
  font-size: 18px;
}
.text-p {

  padding-top: 40px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 300;
}

.img-naomi {
  width:200px;
  height:200px;
  border-radius:100px;
}
.third__section--nao {
  font-family: 'Playfair Display', serif;
  font-weight: 900i;
  font-size: 30px;
}

.third__section--thai1,
.third__section--thai2{
  color: #ECBCBA;
}

.text-naomi {
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
  font-size: 16px;
  font-weight: 300;
  color: #6C6E70;
}

/*lineaaaaa*/
.underline {
  border-color: #A0A0A0;
  border-width: 2px;
  width: 100%;
}
